.UserList{
  background: #f8f9fa;
  width: 400px;
  height: 100vh;
}
.UserList-header{
  height: 60px;
  background: #f0f0f0;
  padding: 0.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.UserList-header .User-pic{
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.tab-group{
  width: calc(100% - 2px);
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #f0f0f0;
  padding: 0 1px;
}
.tab{
  width: 100%;
  height: 100%;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f0f0;
  cursor: pointer;
}
.tab-active{
  background: #f8f9fa;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom: solid 1px #f0f0f0;
  box-sizing: border-box;
}