.User{
  max-width: 400px;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.User::after{
  content: '';
  width: 330px;
  height: 1px;
  background: #f0f0f0;
  position: absolute;
  bottom: 0;
  right: 10px;
}
.User .image-container{
  margin-left: 0.4rem;
}
.User-pic{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.User-name{
  padding-left: 1rem;
  font-weight: 400;
  font-size: 20px;
}

.User .content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.User .content h1{
  margin: 0;
}
.User .content .msg{
  color: grey;
  font-size: 12px;
  padding: 0 0 0 16px;
  display: flex;
  align-items: center;
}
.User .content .msg svg{
  width: 12px;
  height: 12px;
  margin-right: 4px;
}